:root {
  --anchor-font-color: rgb(136, 192, 245);
  /* --anchor-font-color: rgb(98, 207, 134); //green accent */
  --anchor-hover: rgb(98, 129, 165);
  --font-color: rgb(94, 94, 109);
  --bg-color: rgb(255, 255, 255);
  --box-shadow-color: rgb(160, 160, 160);
  --input-color: rgb(99, 99, 99);
  --nav-footer-border: rgb(223, 223, 223);
  --footer-bg: rgb(156, 156, 156);
  --footer-font-color: rgb(100, 100, 100);
  --footer-wave-color: rgb(231, 245, 255);
  /* --footer-wave-color: rgb(231, 255, 235); // green accent */
}

[data-theme="dark"] {
  --anchor-font-color: rgb(129, 129, 129);
  --anchor-hover: rgb(90, 90, 90);
  --font-color: rgb(167, 167, 167);
  --bg-color: rgb(43, 43, 43);
  --box-shadow-color: rgb(102, 102, 102);
  --input-color: rgb(75, 75, 75);
  --nav-footer-border: rgb(58, 58, 58);
  --footer-bg: rgb(75, 75, 75);
  --footer-font-color: rgb(0, 0, 0);
  --footer-wave-color: rgb(53, 53, 53);
}

* {
  padding: 0;
  margin: 0;
  background-color: var(--bg-color);
}

html,
body {
  height: 100%;
  line-height: 1.6;
}

a {
  text-decoration: none;
  color: var(--anchor-font-color);
}

a:hover {
  color: var(--anchor-hover);
}

h3 {
  font-size: 22pt;
}
h5 {
  font-size: 14pt;
}

label {
  color: var(--font-color);
}

p {
  font-size: 12pt;
}

#dark-mode-icon {
  cursor: pointer;
  color: var(--anchor-font-color);
}

#dark-mode-icon:hover {
  color: var(--anchor-hover);
  animation: spin 300ms linear 1;
}
#login-page {
  margin-top: 3rem;
  color: var(--font-color);
  font-family: "PT Serif", serif;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#login-form {
  display: flex;
  flex-direction: column;
  width: 17rem;
  margin-bottom: 10rem;
}

#admin-tag {
  color: rgb(219, 74, 74);
  font-weight: 600;
  margin-right: 10px;
  border: 2px solid rgb(219, 74, 74);
  font-size: small;
  padding: 2px;
  border-radius: 8px;
}

#submit-button {
  color: rgb(0, 128, 0);
  height: 1.5rem;
  width: 6rem;
  margin: 0 auto;
  border: none;
  box-shadow: 1px 1px 9px var(--box-shadow-color);
  border-radius: 7px;
  margin-top: 1.25rem;
  background-color: rgb(90, 199, 90);
}

#submit-button:hover {
  background-color: rgb(118, 206, 118);
}

#logout-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

#logout-container > * {
  text-align: center;
}

#logout-button {
  font-family: "Vallkhorn", serif;
  text-decoration: underline;
  margin-top: 1rem;
  padding-left: 7px;
  padding-right: 7px;
  font-size: 16pt;
  color: rgb(184, 79, 79);
  font-weight: 700;
  margin-left: 6px;
  border: none;
}

#logout-button:hover {
  color: rgb(255, 0, 0);
}
.gradient {
  font-size: 72px;
  background: -webkit-linear-gradient(#4a58fe, #17d0d6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.body-wrapper {
  font-family: "PT Serif", serif;
  color: var(--font-color);
  flex: 1 0 auto;
  background-color: rgba(255, 255, 255, 0);
}

.content-wrapper {
  width: 65%;
  background-color: inherit;
}

.text-field {
  padding-left: 5px;
  height: 1.3rem;
  margin-top: 8px;
  border-radius: 7px;
  color: var(--font-color);
  border: 2px solid var(--input-color);
}

.nav-bar {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  /* border-bottom: 1px solid var(--nav-footer-border); */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
  height: 3rem;
  width: 100%;
}

.nav-items-container {
  display: flex;
  flex-direction: row;
}

.nav-item {
  margin-left: 10px;
  margin-right: 10px;
  font-weight: 400;
}

#headshot {
  /* background-image: url("../resources/media/headshot_sm.jpg"); */
  border-radius: 9px;
  float: left;
  margin-right: 13px;
  margin-top: 13px;
  margin-bottom: 10px;
  box-shadow: 1px 1px 15px var(--box-shadow-color);
}

.blog-links-container {
  margin: 0 auto;
  width: fit-content;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
}

.blog-link {
  font-family: "PT Serif", serif;
  font-size: large;
  font-weight: 400;
  color: var(--anchor-font-color);
  border-radius: 3px;
  padding: 5px;
  list-style-type: none;
  margin-top: 0.5rem;
  margin-right: 0.25rem;
  margin-left: 0.25rem;
}

.floating-back-button {
  cursor: pointer;
  position: fixed;
  z-index: 1;
  bottom: 100px;
  left: 5px;
  font-family: serif;
  font-size: x-large;
  margin-left: 2rem;
  border-radius: 4px;
  font-weight: 800;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 1px 5px var(--box-shadow-color);
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  background-color: rgb(255, 255, 255);
}

.floating-back-button > * {
  background-color: inherit;
}

.floating-back-button:hover {
  box-shadow: 1px 1px 15px var(--box-shadow-color);
}

.footer-content {
  display: flex;
  flex-direction: row;
  background-color: inherit;
  align-items: center;
  justify-content: flex-start;
  width: 35%;
  display: flex;
  margin-top: 2rem;
}
.footer-content > * {
  background-color: inherit;
  margin-right: 2rem;
}
.footer-content > * > .svg {
  background-color: inherit;
  fill: var(--anchor-font-color);
}

.footer-content > * > .svg:hover {
  fill: var(--anchor-hover);
}

.footer-info {
  text-align: center;
  width: 20rem;
  background-color: inherit;
  margin-bottom: 8px;
}
.footer-info > * {
  display: flex;
  width: 20rem;
  flex-direction: column;
  background-color: inherit;
  color: inherit;
}
.footer-info > * > * {
  background-color: inherit;
}

.footer-wave {
  fill: var(--footer-wave-color);
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 700px) {
  .content-wrapper {
    width: 85%;
  }
}
